{% extends "base.html" %}

{% block content %}

<h2>💼 Panel Cajero</h2>

<div class="grid">

    <div class="card stat blue">
        <h3>{{ productos }}</h3>
        <p>Productos</p>
    </div>

    <div class="card stat orange">
        <h3>{{ pedidos }}</h3>
        <p>Pedidos</p>
    </div>

</div>

<div class="card">
    <h2>Acciones rápidas</h2>

    <div class="grid">

        <a href="/ventas_ui" class="card">
            💰 Ventas
        </a>

        <a href="/mis_pedidos" class="card">
            📦 Pedidos
        </a>

    </div>
</div>

{% endblock %}