{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="card">
        <h2>✏️ Editar Cliente</h2>

        <form method="POST">

            <label>Nombre</label>
            <input name="nombre" value="{{cliente[1]}}" required>

            <label>Teléfono</label>
            <input name="telefono" value="{{cliente[2]}}">

            <label>Dirección</label>
            <input name="direccion" value="{{cliente[3]}}">

            <br>

            <button>💾 Guardar cambios</button>
        </form>

        <br>

        <a href="/clientes" class="btn">⬅ Volver</a>

    </div>

</div>

{% endblock %}