<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>RINPA SRL - EN DESARROLLO </title>
</head>

<body class="home">

<!-- 🖼️ FONDO -->
<div class="hero">
    
    <!-- 🎥 VIDEO DE FONDO -->
    <video autoplay muted loop playsinline class="hero-video">
        <source src="/static/agua.mp4" type="video/mp4">
    </video>

    <div class="overlay"></div>

    <!-- HEADER -->
    <header class="hero-header">
        💧 RINPA SRL SAN LUIS EN DESARROLLO
    </header>

    <!-- CONTENIDO -->
    <div class="hero-content">

        <h1>RINPA SRL </h1>
        <p>Pedí agua fácil y rápido desde tu celular</p>

        <div class="actions">

            <a href="/registro" class="btn">📝 Registrarse</a>
            

            <a href="/login_cliente" class="btn secondary">
                👤 Ingresar cliente
            </a>
            
             <a href="/login_cajero" class="btn outline">
                🔐 Acceso especial
            </a>

            <a href="/login" class="btn outline">
                🔐 Admin
            </a>
            

        </div>

    </div>
    <!-- 🌊 OLAS -->
    <div class="waves">
        <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,60 C150,120 350,0 600,60 C850,120 1050,0 1200,60 L1200,120 L0,120 Z"></path>
        </svg>

        <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,40 C200,100 400,0 600,40 C800,80 1000,20 1200,60 L1200,120 L0,120 Z"></path>
        </svg>
    </div>
</div>

</body>
</html>
