<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>DISTRIBUCION Agua SAN LUIS</title>
</head>

<body class="home">

<!-- 🖼️ FONDO -->
<div class="hero">

    <div class="overlay"></div>

    <!-- HEADER -->
    <header class="hero-header">
        💧 Agua San Luis
    </header>

    <!-- CONTENIDO -->
    <div class="hero-content">

        <h1>Distribución de Agua</h1>
        <p>Pedí agua fácil y rápido desde tu celular</p>

        <div class="actions">

            <a href="/registro" class="btn">📝 Registrarse</a>

            <a href="/login_cliente" class="btn secondary">
                👤 Ingresar cliente
            </a>

            <a href="/login" class="btn outline">
                🔐 Admin
            </a>

        </div>

    </div>

</div>

</body>
</html>