{% extends "base.html" %}

{% block content %}

<h2>🔐 Permisos Cajero</h2>

<form method="POST">

    <label>
        <input type="checkbox" name="vender" {% if cajero[3] == 1 %}checked{% endif %}>
        💰 Puede vender
    </label><br>

    <label>
        <input type="checkbox" name="pedidos" {% if cajero[4] == 1 %}checked{% endif %}>
        📦 Ver pedidos
    </label><br>

    <label>
        <input type="checkbox" name="reportes" {% if cajero[5] == 1 %}checked{% endif %}>
        📊 Ver reportes
    </label><br>

    <label>
        <input type="checkbox" name="stock" {% if cajero[6] == 1 %}checked{% endif %}>
        📦 Ver stock
    </label><br><br>
    <label>
        <input type="checkbox" name="agregar_productos" {% if cajero[7] == 1 %}checked{% endif %}>
       📦 Agregar productos
    </label><br>

    <button type="submit">Guardar</button>

</form>

{% endblock %}