{% extends "base.html" %}

{% block content %}
<h2>Promos 🎁</h2>

{% if session.get("admin") %}
<div class="card">
<form method="POST" action="/promos/agregar">
    <input name="nombre" placeholder="Nombre" required>
    <input name="descripcion" placeholder="Descripción">
    <input name="precio" placeholder="Precio" required>
    <button>Agregar Promo</button>
</form>
</div>
{% endif %}

{% for p in promos %}
<div class="card">
    <b>{{p[1]}}</b><br>
    📝 {{p[2]}}<br>
    💲 ${{p[3]}}
</div>
{% endfor %}

{% endblock %}